* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #d2dbdd;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

button {
    padding: 15px 20px;
    background: #9b59b6;
    color: white;
    border: 2px solid #ecf0f1;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5rem;
}

.digClk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 3rem;
    border: 2px solid black;
    margin-bottom: 20px;
}